.headlineColor {
    background-color: blue;
}

.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    padding: 40px;
}

.white-box {
    background: #fff;
    padding: 25px;
    margin-bottom:30px;
}
.box-title {
    font-weight: 700;
    line-height: 30px;
    font-size:18px;
}
.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
textarea {
    resize: vertical;
    height: 100px;
}
.currentActingElement {
    background-color: '#CAD2C5';
    border: solid 1px black;
}
.crossplyColor0{
    background-color: $color-0;
}
.crossplyColor90{
    background: $color-3;
}

