$defaultFont: 'Ubuntu', sans-serif;
$default-gutter: 2%;
$padding-top: 56px;

$size-default: 1rem;

$color-0: '#CAD2C5';
$color-1: '#84A98C';
$color-2: '#52796F';
$color-3: '#354F52';
$color-4: '#2F3E46';

/* Color Theme Swatches in Hex */
.Firenze-1-hex { color: #468966; }
.Firenze-2-hex { color: #FFF0A5; }
.Firenze-3-hex { color: #FFB03B; }
.Firenze-4-hex { color: #B64926; }
.Firenze-5-hex { color: #8E2800; }

/* Color Theme Swatches in RGBA */
.Firenze-1-rgba { color: rgba(70, 137, 102, 1); }
.Firenze-2-rgba { color: rgba(255, 239, 165, 1); }
.Firenze-3-rgba { color: rgba(255, 175, 59, 1); }
.Firenze-4-rgba { color: rgba(182, 73, 38, 1); }
.Firenze-5-rgba { color: rgba(142, 40, 0, 1); }

/* Color Theme Swatches in HSLA */
.Firenze-1-hsla { color: hsla(148, 32, 40, 1); }
.Firenze-2-hsla { color: hsla(49, 100, 82, 1); }
.Firenze-3-hsla { color: hsla(35, 100, 61, 1); }
.Firenze-4-hsla { color: hsla(14, 65, 43, 1); }
.Firenze-5-hsla { color: hsla(16, 100, 27, 1); }
