/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Color Theme Swatches in Hex */
.Firenze-1-hex {
  color: #468966;
}

.Firenze-2-hex {
  color: #FFF0A5;
}

.Firenze-3-hex {
  color: #FFB03B;
}

.Firenze-4-hex {
  color: #B64926;
}

.Firenze-5-hex {
  color: #8E2800;
}

/* Color Theme Swatches in RGBA */
.Firenze-1-rgba {
  color: rgb(70, 137, 102);
}

.Firenze-2-rgba {
  color: rgb(255, 239, 165);
}

.Firenze-3-rgba {
  color: rgb(255, 175, 59);
}

.Firenze-4-rgba {
  color: rgb(182, 73, 38);
}

.Firenze-5-rgba {
  color: rgb(142, 40, 0);
}

/* Color Theme Swatches in HSLA */
.Firenze-1-hsla {
  color: hsl(148, 32%, 40%);
}

.Firenze-2-hsla {
  color: hsl(49, 100%, 82%);
}

.Firenze-3-hsla {
  color: hsl(35, 100%, 61%);
}

.Firenze-4-hsla {
  color: hsl(14, 65%, 43%);
}

.Firenze-5-hsla {
  color: hsl(16, 100%, 27%);
}

/* prevent font adjustments in ios and IE on windows on orientation change*/
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  padding-top: 56px;
}

.navbar-brand {
  padding-top: 0rem;
  padding-bottom: 0rem;
}

/* Clearfix: Force an element not to collapse */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.headlineColor {
  background-color: blue;
}

.effect1 {
  box-shadow: 0 10px 6px -6px #777;
  padding: 40px;
}

.white-box {
  background: #fff;
  padding: 25px;
  margin-bottom: 30px;
}

.box-title {
  font-weight: 700;
  line-height: 30px;
  font-size: 18px;
}

.list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.currentActingElement {
  background-color: "#CAD2C5";
  border: solid 1px black;
}

.crossplyColor0 {
  background-color: "#CAD2C5";
}

.crossplyColor90 {
  background: "#354F52";
}

@media only screen and (min-width: 35rem) {
  .headlineColor {
    background-color: red;
  }
}
@media only screen and (min-width: 64rem) {
  .headlineColor {
    background-color: yellow;
  }
}/*# sourceMappingURL=styles.css.map */